@use "sass:math";

// Variables
$max-width-xl: 1200px;
$max-width-lg: 1000px;
$max-width-md: 800px;
$max-width-sm: 600px;

$breakpoint-xl: 1400px;
$breakpoint-lg: 1120px;
$breakpoint-md: 740px;
$breakpoint-sm: 500px;

// Mixins
@mixin respond-to($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin responsive-graph($max-width, $max-height, $padding: 0) {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  padding: $padding;

  .graph-container {
    position: relative;
    width: 100%;
    padding-top: math.div($max-height, $max-width) * 100%;
    overflow: hidden;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

// Styles for full-size graph
.responsive-graph-big {
  @include responsive-graph($max-width-xl, 800px);

  @include respond-to($breakpoint-xl) {
    @include responsive-graph($max-width-lg, 700px);
  }

  @include respond-to($breakpoint-lg) {
    @include responsive-graph($max-width-md, 600px);
  }

  @include respond-to($breakpoint-md) {
    @include responsive-graph($max-width-sm, 500px);
  }

  @include respond-to($breakpoint-sm) {
    @include responsive-graph(100%, 400px, 0 15px);
  }
}

// Styles for medium graph
.responsive-graph-medium {
  @include responsive-graph(600px, 600px);

  @include respond-to($breakpoint-lg) {
    @include responsive-graph(500px, 500px);
  }

  @include respond-to($breakpoint-md) {
    @include responsive-graph(400px, 400px);
  }

  @include respond-to($breakpoint-sm) {
    @include responsive-graph(100%, 300px, 0 10px);
  }
}

// Styles for small graph
.responsive-graph-small {
  @include responsive-graph(400px, 400px);

  @include respond-to($breakpoint-lg) {
    @include responsive-graph(350px, 350px);
  }

  @include respond-to($breakpoint-md) {
    @include responsive-graph(300px, 300px);
  }

  @include respond-to($breakpoint-sm) {
    @include responsive-graph(90%, 250px, 0 5px);
  }
}