// New variables

$grey-md-000: #c5c4c8 !default;
$grey-md-100: #a5a2a8 !default;
$grey-md-200: #98979d !default;
$grey-md-300: #868389 !default;

$pink-000: #f77ef1;
$pink-100: #f967f1;
$pink-200: #e94ee1;
$pink-300: #dd2cd4;

$orange-000: #ffa500; // Light orange
$orange-100: #ff8c00; // Dark orange
$orange-200: #ff6347; // Tomato (orange-red)
$orange-300: #ff4500; // OrangeRed